In [ ]:
# CS2023 Lab 09
# Nekruz Ashrapov
# ashrapnz@mail.uc.edu
#
# From my results I found that when the n_estimator is tested with values from 1 to 10,
# The highest percentage of the accuracy I recieved was when 5 and 10 estimators tested, the accuracy was 78.69%.

#trying model with 1 estimators..
#Model accuracy on test set: 72.13%

#trying model with 2 estimators..
#Model accuracy on test set: 68.85%

#trying model with 3 estimators..
#Model accuracy on test set: 73.77%

#trying model with 4 estimators..
#Model accuracy on test set: 75.41%

#trying model with 5 estimators..
#Model accuracy on test set: 78.69%

#trying model with 6 estimators..
#Model accuracy on test set: 77.05%

#trying model with 7 estimators..
#Model accuracy on test set: 73.77%

#trying model with 8 estimators..
#Model accuracy on test set: 75.41%

#trying model with 9 estimators..
#Model accuracy on test set: 72.13%

#trying model with 10 estimators..
#Model accuracy on test set: 78.69%

In [20]:
# 1. Getting the data ready
import pandas as pd
import numpy as np
heart_disease = pd.read_csv("Downloads/heart.csv")
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [9]:
# Create X (features matrix)
X = heart_disease.drop("target", axis=1)

#create y (label matrix)
y = heart_disease["target"]

In [17]:
# Create X (features matrix)
X = heart_disease.drop("target", axis=1)

#create y (label matrix)
y = heart_disease["target"]

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'sqrt',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [12]:
# 3. Fitting the model to the training data
from sklearn.model_selection import train_test_split

# Split the data into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [18]:
clf.fit(X_train, y_train)

RandomForestClassifier()

In [37]:
X_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
248,54,1,1,192,283,0,0,195,0,0.0,2,1,3
264,54,1,0,110,206,0,0,108,1,0.0,1,1,2
193,60,1,0,145,282,0,0,142,1,2.8,1,2,3
287,57,1,1,154,232,0,0,164,0,0.0,2,1,2
191,58,1,0,128,216,0,0,131,1,2.2,1,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...
181,65,0,0,150,225,0,0,114,0,1.0,1,3,3
124,39,0,2,94,199,0,1,179,0,0.0,2,0,2
125,34,0,1,118,210,0,1,192,0,0.7,2,0,2
186,60,1,0,130,253,0,1,144,1,1.4,2,1,3
242,64,1,0,145,212,0,0,132,0,2.0,1,2,1

In [25]:
y_preds = clf.predict(X_test)
y_preds

array([1, 0, 1, 1, 1, 1, 1, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1,
       0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1, 0, 1, 1,
       0, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 1], dtype=int64)

In [26]:
y_test

151    1
52     1
182    0
46     1
21     1
      ..
222    0
259    0
24     1
81     1
40     1
Name: target, Length: 61, dtype: int64

In [27]:
# 4. Evaluating the model on the training data and test data
clf.score(X_train, y_train)

1.0

In [28]:
clf.score(X_test, y_test)

0.8032786885245902

In [29]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

print(classification_report(y_test, y_preds))

              precision    recall  f1-score   support

           0       0.76      0.76      0.76        25
           1       0.83      0.83      0.83        36

    accuracy                           0.80        61
   macro avg       0.80      0.80      0.80        61
weighted avg       0.80      0.80      0.80        61

In [30]:
confusion_matrix(y_test, y_preds)

array([[19,  6],
       [ 6, 30]], dtype=int64)

In [31]:
accuracy_score(y_test, y_preds)

0.8032786885245902

In [46]:
# 5. Improving the model
# Try different amount of n_estimators
np.random.seed(42)
for i in range(1, 11, 1):
    print(f"trying model with {i} estimators..")
    clf = RandomForestClassifier(n_estimators =i).fit(X_train, y_train)
    print(f"Model accuracy on test set: {clf.score(X_test, y_test) * 100:.2f}%")
    print("")

trying model with 1 estimators..
Model accuracy on test set: 72.13%

trying model with 2 estimators..
Model accuracy on test set: 68.85%

trying model with 3 estimators..
Model accuracy on test set: 73.77%

trying model with 4 estimators..
Model accuracy on test set: 75.41%

trying model with 5 estimators..
Model accuracy on test set: 78.69%

trying model with 6 estimators..
Model accuracy on test set: 77.05%

trying model with 7 estimators..
Model accuracy on test set: 73.77%

trying model with 8 estimators..
Model accuracy on test set: 75.41%

trying model with 9 estimators..
Model accuracy on test set: 72.13%

trying model with 10 estimators..
Model accuracy on test set: 78.69%

In [35]:
# 6. Save the model and load it
import pickle

pickle.dump(clf, open("random_forst_model_1.pkl", "wb"))

In [49]:
loaded_model = pickle.load(open("random_forst_model_1.pkl", "rb"))
loaded_model.score(X_test, y_test)

0.7868852459016393

In [44]:
print(clf.score(X_train, y_train))

1.0